
@media screen and (min-width: 498px){
    .head1{
        font-size: 45px;
        text-align: left;
        line-height: 25px;
    }
    .head2{
        font-size: 25px;
        text-align: left;
        line-height: 25px;
    }
    .myInfo{
        width: 480px;
        margin: 0 auto;
    }
    .goodWebsite{
        padding-left: 60px;
    }
    .portfolioYC {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-size: cover;
        background-size: 90%;  
    }
   
}
@media screen and (min-width: 769px){
    .mainHeading{
        height: 1000px;
    }
    .mainLogo h1{
        font-size: 25px;
    }
    .head1{
        font-size: 65px;
    }
    .head2{
        font-size: 45px;
        line-height: 45px;
        width: 750px;
    }
    .backTwo{
        background-size: 1440px;
        height: 760px;
    }
    .myInfo h1 {
        font-size: 65px;
    }
    .myInfo h2 {
        font-size: 35px;
    }
    .myInfo p {
        font-size: 25px;
    }
    .iframe-container{
        height: 510px;
    }
    .iframe-container iframe {
        width:560px;
        height:315px; 
    }
    .portfolioYC{
        background-size: cover;
        background-size: 95%;  
        height: 700px;
        background-color: white;
    }
    .informationP{
        width: 700px;
    }
}
@media screen and (min-width: 920px){
    .portfolioYC{
        background-size: cover;
        background-size: 800px;  

    }
    .footFooter{
        height: 750px;
        background-size: cover;
        background-size: 900px;
    }
    .footFooter h1,.badG {
        font-size: 65px;

    }
    .lastQuote{
        font-size: 20px;
    }
}