
@media screen and (min-width: 498px){
    .head1{
        font-size: 45px;
        text-align: left;
        line-height: 25px;
    }
    .head2{
        font-size: 25px;
        text-align: left;
        line-height: 25px;
    }
    .myInfo{
        width: 480px;
        margin: 0 auto;
    }
    .goodWebsite{
        padding-left: 60px;
    }
    .portfolioYC {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-size: cover;
        background-size: 90%;  
    }
   
}
@media screen and (min-width: 769px){
    .mainHeading{
        height: 1000px;
    }
    .mainLogo h1{
        font-size: 25px;
    }
    .head1{
        font-size: 65px;
    }
    .head2{
        font-size: 45px;
        line-height: 45px;
        width: 750px;
    }
    .backTwo{
        background-size: 1440px;
        height: 760px;
    }
    .myInfo h1 {
        font-size: 65px;
    }
    .myInfo h2 {
        font-size: 35px;
    }
    .myInfo p {
        font-size: 25px;
    }
    .iframe-container{
        height: 510px;
    }
    .iframe-container iframe {
        width:560px;
        height:315px; 
    }
    .portfolioYC{
        background-size: cover;
        background-size: 95%;  
        height: 700px;
        background-color: white;
    }
    .informationP{
        width: 700px;
    }
    .site-nav {
        padding: 20px 40px 10px;
    }
    .site-nav ul {
        justify-content: flex-end;
    }
    .fasting-page main {
        padding: 30px 40px;
    }
    .fasting-cta-row {
        flex-direction: row;
        align-items: center;
    }
    .fasting-cta-row .fasting-button {
        width: auto;
    }
}
@media screen and (min-width: 920px){
    .portfolioYC{
        background-size: cover;
        background-size: 800px;  

    }
    .footFooter{
        height: 750px;
        background-size: cover;
        background-size: 900px;
    }
    .footFooter h1,.badG {
        font-size: 65px;

    }
    .lastQuote{
        font-size: 20px;
    }
}

@media screen and (min-width: 900px){
    .fasting-grid.two-col {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .fasting-plan-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .fasting-page main {
        padding: 40px 60px;
    }
    .fasting-start-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .fasting-themes-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .fasting-prep .prep-checklist {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .tracker-grid {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }
    .reset-btn {
        width: auto;
    }
}