* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-size: 14px;
    background-color: #0000;
    color:black;
    font-family: 'Roboto', sans-serif;
}

.mainHeading {
    width: 100%;  
    box-sizing: border-box;
    position: relative;
}
.design1{
    width: 100%;
    box-sizing: border-box;
}
.mainLogo{
    width: 320px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    top: 20px;
}
.mainLogo a {
    text-decoration: none;
    color: black;
   
}
.goodWebsite {
    min-width: 320px;
    max-width: 550px;
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    left: 160px;
}
.head1 {
    font-size: 75px;
    line-height: 20px;
}
.head2{
    font-size: 25px;
}

.backTwo {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.aboutMe {
    position: absolute;
    width: 100%;
    top: -500px;
}
.aboutMe2 {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: -350px;
}
.myPicture{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: 2;
}
.myPicture img{
width: 100%;
border-radius: 50%;
}

.myInfo {
    width: 60%; 
    margin: 25px;
    box-sizing: border-box;
    pad: 20px;
}
.myInfo h1{
    font-size: 70px;
    line-height: 2px;
}
.myInfo h2 {
    font-size: 30px;
    line-height: 29px;
}
.myInfo p{
    font-size: 18px;
}

.youtube {
    margin-top: 150px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.youtube::before {
    content: url(../Assets/Asset2.png);
    padding: 25px;
}
.youtube::after{
    content: url(../Assets/Asset2.png);
    padding: 25px;
   
}
iframe {
    -webkit-box-shadow: 1px 1px 23px 2px rgba(0,0,0,0.79); 
    box-shadow: 1px 1px 23px 2px rgba(0,0,0,0.79);
}